<form method="post" action="{{ path('combos_productos_delete', {'id': combos_producto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ combos_producto.id) }}">
    <button class="btn">Delete</button>
</form>
