{% extends 'base.html.twig' %}

{% block title %}New CombosProductos{% endblock %}

{% block body %}
    <h1>Create new CombosProductos</h1>

    {{ include('combos_productos/_form.html.twig') }}

    <a href="{{ path('combos_productos_index') }}">back to list</a>
{% endblock %}
