<form method="post" action="{{ path('cotizaciones_productos_delete', {'id': cotizaciones_producto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cotizaciones_producto.id) }}">
    <button class="btn">Delete</button>
</form>
