{% extends 'base.html.twig' %}

{% block title %}CotizacionesProductos index{% endblock %}

{% block body %}
    <h1>CotizacionesProductos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cotizaciones_producto in cotizaciones_productos %}
            <tr>
                <td>{{ cotizaciones_producto.id }}</td>
                <td>
                    <a href="{{ path('cotizaciones_productos_show', {'id': cotizaciones_producto.id}) }}">show</a>
                    <a href="{{ path('cotizaciones_productos_edit', {'id': cotizaciones_producto.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cotizaciones_productos_new') }}">Create new</a>
{% endblock %}
