{% extends 'generales/baseSistema.html.twig' %}

{% block title %} - Reportes{% endblock %}

{% block rutas %}Reportes - <span>Ventas por cliente</span>{% endblock %}

{% block contenido %}
    <h1>Reporte clientes</h1>

    {{ include('reportes/_scripts.html.twig') }}

    <div class="contenedorReportes">
        <div class="tablaReportes">
            <table>
                <tr>
                    <th class='alIzq'>Cliente</th>
                    <th class='alDer'>Monto total</th>
                </tr>
                {% for t in tabla %}
                    <tr>
                        <td class='alIzq'>{{t.cliente}}</td>
                        <td class='alDer'>${{t.total|number_format(0, ',', '.')}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        
        <div class="graficoReportes" id="grafico"></div>

    </div>

    {{ include('reportes/_barras.html.twig', {
        'titulo': 'Clientes',
        'subtitulo': '',
        'ejeY': 'Cliente (%)',
        'categorias': "''",
        'series': dataGrafico,
        'simboloPaintFormat': '$'
    }) }}

{% endblock %}