{% extends 'base.html.twig' %}

{% block title %}New MediosPago{% endblock %}

{% block body %}
    <h1>Create new MediosPago</h1>

    {{ include('medios_pago/_form.html.twig') }}

    <a href="{{ path('medios_pago_index') }}">back to list</a>
{% endblock %}
