{% extends 'base.html.twig' %}

{% block title %}Edit ProveedoresProductos{% endblock %}

{% block body %}
    <h1>Edit ProveedoresProductos</h1>

    {{ include('proveedores_productos/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('proveedores_productos_index') }}">back to list</a>

    {{ include('proveedores_productos/_delete_form.html.twig') }}
{% endblock %}
