<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="images/png" href="{{asset('images/logo.png')}}">
        <title>JASA SUBLIMACIONES{% block title %}{% endblock %}</title>
        <link type="text/css" rel="stylesheet" href="{{asset('css/estilos.css')}}">
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
