<div class='baseModal'>
    <div class='contenidoModal'>
        <input type="hidden" name="modalMarca_token" id="modalMarca_token" value="{{ csrf_token('nueva_marca') }}">
        <div class='cerrarModal' onclick="oGen.fnCerrarModal(this);">
            <img src="{{asset('images/iconos/cancelar.svg')}}" alt='Cerrar' title='Cerrar' />
        </div>
        <h1>Nueva marca</h1>
        <div>
            <label for="modalMarca_marca">Marca</label>
            <input type="text" id="modalMarca_marca" name="modalMarca[marca]">
        </div>
        <div>
            <label><br/></label>
            <button class="btn btnGuardar" onclick="oRep.fnGuardaMarcaModal()">Guardar</button>
        </div>
    </div>
</div>