{% extends 'base.html.twig' %}

{% block title %}ClientesAlmacenes{% endblock %}

{% block body %}
    <h1>ClientesAlmacenes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ clientes_almacene.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('clientes_almacenes_index') }}">back to list</a>

    <a href="{{ path('clientes_almacenes_edit', {'id': clientes_almacene.id}) }}">edit</a>

    {{ include('clientes_almacenes/_delete_form.html.twig') }}
{% endblock %}
