{% extends 'generales/baseSistema.html.twig' %}

{% block title %} - Cotizaciones{% endblock %}

{% block rutas %}Cotizaciones > <span>Nueva cotización</span>{% endblock %}

{% block pestanias %}
    <a href="{{ path('cotizaciones_index') }}" class='btnVolver'>
        <img src="{{asset('images/iconos/volver.png')}}" alt="" />
    </a>
{% endblock %}

{% block contenido %}
    <h1>Nueva cotización</h1>

    <form method="post" action="{{ path('cotizaciones_new') }}">
        {{ include('cotizaciones/_form.html.twig') }}
    </form>

{% endblock %}
