<form method="post" action="{{ path('unidades_medida_delete', {'id': unidades_medida.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ unidades_medida.id) }}">
    <button class="btn">Delete</button>
</form>
