<form method="post" action="{{ path('movimientos_caja_delete', {'id': movimientos_caja.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ movimientos_caja.id) }}">
    <button class="btn">Delete</button>
</form>
